azure-ai-vision-imageanalysis==1.0.0
azure-cognitiveservices-speech==1.42.0
azure-core==1.32.0
certifi==2025.1.31
charset-normalizer==3.4.1
cx_Freeze==7.2.10
cx_Logging==3.2.1
idna==3.10
isodate==0.7.2
lief==0.16.3
mss==10.0.0
numpy==2.2.3
opencv-python==4.11.0.86
packaging==24.2
pillow==11.1.0
pywin32==308
requests==2.32.3
six==1.17.0
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.3.0
wxPython==4.2.2
