azure-ai-vision-imageanalysis
azure-cognitiveservices-speech
azure-core
certifi
charset-normalizer
cx_Freeze
cx_Logging
idna
isodate
lief
mss
numpy
opencv-python
packaging
pillow
pywin32
requests
six
tomli
typing_extensions
urllib3
wxPython
